/*--- Error ---*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&display=swap');
.wrapper-404 {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  min-height: 100vh;
  justify-content: space-between;
  @include media-query(medium) {
  }
  @include media-query(large) {
    padding: 40px 77px 20px;
  }
}
.notFound {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  @include media-query(large) {
    flex-direction: row;
    height: 100%;
  }
}
.scarecrow {
  display: flex;
  width: 100%;
  @include media-query(large) {
  }
  &__img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

.badNews {
  @include media-query(large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__texts {
      display: flex;
      flex-direction: column;
    &__title {
      font-size: 45px;
      line-height: 71px;
      letter-spacing: -0.035em;
      @include media-query(large) {
        font-weight: 700;
        font-size: 64px;
        line-height: 95px;
      }
    }
    &__speech {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.035em;
      @include media-query(large) {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 68px;
    max-width: 216px;
    font-size: 14px;
    font-weight: 700;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    &__txt {
      text-align: center;
    }
  }
}
.text-footer {
  font-family: 'Montserrat';
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  // position: fixed;
  // bottom: 0;
  // left: 0px;
  @include media-query(xsmall) {
    max-width: 100%;
  }
}
/*--- Fin Error ---*/
